@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f4efef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeaeafa;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  border: 2px solid #d1d5db;
  border-radius: 12px;
  padding: 16px;
  margin: 16px;
  margin-top: 20px;
  margin-bottom: 150px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
}

.user img {
  border-radius: 50%;
}
